body{
    background: white;
    margin: 0px;
    padding-top: 5px;
}
a {text-decoration: none; color: inherit;}
.Header{
    z-index: 5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    width: 100%;
    height: 125px;
    grid-template-areas: "a b c";
    grid-template-rows: 125px;
    grid-template-columns: 240px 900px;
    justify-items: center;
    align-items: center;
    background-color: white;
}
.BrendTable{
    display: grid;
    width: 1300px;
    height: 500px;
    place-items: center;
    margin: auto;
    grid-template-areas:  "a b";
    z-index: 1;
    font-family: Arial;
}
input{
    height: 35px;
    width: 300px;
    font-size: 16px;
    font-family: Arial;
    border: 2px solid black;
    direction:unset;
    border-radius: 5px;
    text-indent: 10px;
}
.buttom{
    padding: 5 20 5 20;
    border-radius: 5px;
    font-family: Arial;
    font-weight:bold;
}
.gorizontal a{
    padding: 120px 20px 1px 20px;
    background-color: white;
    font-size: 32px;
    font-family: Arial;
    color: black;
}
.gorizontal a:hover{
    background-color: #FF4B4B;
    color: aliceblue;
    align-self: center;
}
.gorizontal{
    align-self: end;
}
.Franchise{
    display: grid;
    position: absolute;
    grid-template-areas: "Text" "Inputs" "Buttom";
    width: 560px;
    height: auto;
}
.text{
    font-family: Arial;
    color:white;
}
.input{
    display: flex;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    align-items: center;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    color: rgb(52, 50, 50);
    padding-left: 10px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.43);
}
.inputcheck{
    display: flex;
    height: 50px;
    width: 400px;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 20px;
}
.input input{
    border: none;
    text-indent: 5px;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    color: rgb(52, 50, 50);
    background: none;
}
input:focus{
    outline: none;
}
.inputcheck input[type = "checkbox"]{
    width: 25px;
    margin-right: 10px;
    margin-top: 0;
    background-color: #FF4B4B;
    color:aliceblue;
}

.B{
    width: 240px;
    height: 45px;
    border: 2px solid #D9D9D9;
    background: #D9D9D9;
    border-radius: 5px;
    font-family: Arial;
    font-size: 18px;
    cursor: pointer;
    font-weight: bolder;
}
.B:hover{
    background-color: #b0b0b0;
    border: #b0b0b0;
}
.AC_Circle{
    display: grid;
    grid-template-areas: "a b d"
                         "c b d";
    grid-template-columns: 60px 150px 60px;
    grid-template-rows: minmax(30px, auto) minmax(30px, auto);
    row-gap: 5px;
    align-items: center;
    justify-items: center;
    
}